body {
  background-color: rgb(50, 50, 50);
  color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}
#appStructure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
  /* align-items: center; */
  padding: 80px;
}

input {
  color: white;
  background-color: rgb(42, 42, 42);
  padding: 5px;
  border-radius: 5px;
}

.liUsers {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: rgba(170, 170, 170, 0.8);
  padding: 20px;
  border-radius: 28px;
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal form label {
  color: black;
}

.modal h2 {
  color: black;
  padding: 20px;
  font-size: x-large;
}