body {
  background-color:rgb(50, 50, 50);
  color: azure;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}
#appStructure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
  /* align-items: center; */
  padding: 80px;
}