body {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: large;

  position: relative;
  min-height: 100vh;

  
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url("/img/fondo.jpg") center / cover no-repeat;

  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);

  z-index: -1;
}

#appStructure {
  display: grid;
  gap: 40px;
  justify-content: center;
  padding: 80px;
}

@media (min-width: 900px) {
  #appStructure {
    grid-template-columns: repeat(2, 450px);
  }
}

@media (max-width: 899px) {
  #appStructure {
    grid-template-columns: 450px;
  }
}

.cards {
  padding: 20px;
  border-radius: 8px;
  background: rgba(108, 108, 108, 0.6);
}

.cards h1 {
  text-align: center;
  margin-bottom: 16px;
  font-size: xx-large;
}

.cards h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: xx-large;
}

input {
  color: white;
  background-color: rgb(43, 43, 43, 0.5);
  padding: 5px;
  border-radius: 6px;
}

.li-sryle {
  background-color: rgb(43, 43, 43, 0.5);
  padding: 2px 13px;
  border-radius: 20px;
  margin: 6px;
}

.liUsers {
  display: flex;
  justify-content: space-between;
}

.liUsers button {
  margin-left: 6px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

.modal {
  position: relative;
  z-index: 11;

  width: 100%;
  max-width: 450px;
  max-height: 80vh;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);

  padding: 40px;
  border-radius: 28px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h2 {
  color: white;
  margin-bottom: 10px;
  font-size: x-large;
}

.modal-body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-body label {
  color: white;
  font-size: larger;
  margin: 5px 0px;
}

.modal-footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.modal-footer input {
  background: rgb(43, 43, 43, 0.5);
  border-radius: 20px;
  padding: 5px 15px;
}

.modal-footer button {
  background: rgb(43, 43, 43, 0.5);
  border-radius: 20px;
  padding: 5px 15px;
}

.newuser {
  display: grid;
}

.user-input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.user-input input {
  width: 100%;
}

#button-add {
  display: flex;
  justify-content: center;
}

#button-add input {
  padding: 5px 15px;
  border-radius: 20px;
}